# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build output
/build
/dist
/out
/.next/

# Coverage & Testing
/coverage
/.nyc_output

# Debug & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*
pnpm-debug.log*
logs
*.log

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Environment variables
.env
.env.development.local
.env.local
.env.production.local
.env.test.local

# Miscellaneous
.DS_Store
*.pem

# OS
pids
*.pid
*.pid.lock
*.seed

# Runtime data
.temp
.tmp

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# IDEs and editors
/.idea
.c9/
.classpath
.launch
.project
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
