DB_HOST=aws-0-sa-east-1.pooler.supabase.com
DB_PORT=5432
DB_USER=postgres.qzfsluhwakwpzdctsttt
DB_PASS=31deMayo@2025
DB_NAME=postgres
DB_POOL_MODE=session

PORT_CORE=3001
PORT_CLINICAL=3002
PORT_NUTRITION=3003
PORT_ODONTO=3004
PORT_PATIENT=3005
PORT_PHARMACY=3006
PORT_VACCINATION=3007
PORT_GATEWAY=3010

SCHEMA_CORE=core
SCHEMA_CLINICAL=clinical
SCHEMA_NUTRITION=nutrition
SCHEMA_ODONTO=odonto
SCHEMA_PATIENT=patient
SCHEMA_PHARMACY=pharmacy
SCHEMA_VACCINATION=vaccination
